
/* COSTUMIZANDO A NAVBAR */ 
.navbar-collapse {
    flex-direction: column;
}

.navbar-expand-md{
  background-color: #191a1b;
}
   
  /* CUSTOMIZE THE CAROUSEL */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }

  /* Colocando espaçamento entre os "destaques" e "um pouco sobre mim" */
  #pouquinhoDeMim{
    margin-top: 12%;    
  }
  #destaques{
    margin-top: 10%;
  }
  
  #perfil{
    text-align: center;
  }
  /* MARKETING CONTENT */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes  */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* RESPONSIVE CSS  */
  @media screen and (min-width: 577px) and (max-width: 3000px){
    #perfil{
      margin-top: 5%;
    }
  }
 
  @media (max-width: 576px) {
    .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
      color: rgb(255 255 255 / 90%);
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    #perfil{
      margin-top: 10%;
    }
    }

  
/* Terminando a edição da NavBar   */ 
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}