*{
    margin: 0;
    padding: 0;
}

body{

    background:rgb(37, 37, 37);
    color:white;
}

h1 {
    font-family: 'Arial';
    padding-top: 80px;
    font-size: 40px;
    letter-spacing: 1.00px;
    font-weight: 700;
    text-align: center;
}

h2{
    font-family: 'Arial';
    padding-top: 30px;
    font-size: 30px;
    letter-spacing: 1.00px;
    font-weight: 700;
    text-align: center; 
}

/* Editando a NavBar*/
.navbar-expand-lg{
    background-color: #191a1b;
    position: relative;
}

#navbarNav{
    font-size: 17px;
    padding-left: 2%;
}

.navbar-nav .nav-link.active, .navbar-nav .show.nav-link {
    color: white;
}

/* Terminando a edição da NavBar*/ 


/* Começando a edição da HOME*/
#perfil{
    margin-top: 100px;
}

#destaques{
    margin-top: 100px;
    text-align: center;
}

.row{
    justify-content: center;
}

#pouquinhoDeMim{
    margin-top: 130px;
    text-align: justify;
    padding-inline: 150px;
}

#rodaPe{
    display: flex;
    margin-top: 130px;
    background-color: #191a1b;
    justify-content: center
}

/* Até aqui foi edição da parte da HOME*/