body{
    background:rgb(37, 37, 37);
    color:white;
}

h1 {
    font-family: 'Arial';
    padding-top: 80px;
    font-size: 40px;
    letter-spacing: 1.00px;
    font-weight: 700;
    text-align: center;
}

h2{
    font-family: 'Arial';
    padding-top: 30px;
    font-size: 30px;
    letter-spacing: 1.00px;
    font-weight: 700;
    text-align: center; 
}

h3{
    padding-top: 3px;
    font-family: 'Arial';
    font-size: 19px;
    letter-spacing: 1.00px;
}

/* Editando a NavBar*/

.navbar-nav .nav-link.active, .navbar-nav .show.nav-link {
    color: white;
}

.navbar-collapse {
    flex-direction: column;
}

.navbar-expand-md{
    background-color: #191a1b;
}
/* Terminando a edição da NavBar*/ 
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#destaques {
    margin-top: 30px;
    text-align: center;
}

#rodaPe{
    display: flex;
    background-color: #191a1b;
    justify-content: center;
}

#hobbie .row{
    justify-content: normal;
    align-items: baseline;

}

@media (max-width: 576px){    
    .col-12 {    
        width: 100%;        
    }
    .navbar-nav .nav-link {
        padding-right: 30px;
    }
    .card{
        margin-left: 1rem;
        margin-bottom: 2rem;
        align-items: center;
    }
    h1 {
        padding-top: 0; 
        align-items: center;   
    }
    #fotoLucas{
        display: none; 
    }
    #hobbie{
        display: none;
    }
}