*{
    margin: 0;
    padding: 0;
}

body{

    background:rgb(37, 37, 37);
    color:white;
}

h1 {
    font-family: 'Arial';
    padding-top: 80px;
    font-size: 40px;
    letter-spacing: 1.00px;
    font-weight: 700;
    text-align: center;
}

h2{
    font-family: 'Arial';
    padding-top: 30px;
    font-size: 30px;
    letter-spacing: 1.00px;
    font-weight: 700;
    text-align: center; 
}

h3{
    padding-top: 3px;
    font-family: 'Arial';
    font-size: 19px;
    letter-spacing: 1.00px;
}

/* Editando a NavBar*/
.navbar-expand-lg{
    background-color: #191a1b;
    position: relative;
}

.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: center;
}

.navbar-nav .nav-link.active, .navbar-nav .show.nav-link {
    color: white;
}

/* Terminando a edição da NavBar*/ 


/* Começando a edição da HOME*/
#perfil{
    margin-top: 100px;
}

#destaques{
    margin-top: 30px;
    text-align: center;
}

.row{
    justify-content: center;
}

#pouquinhoDeMim{
    margin-top: 70px;
    text-align: justify;
    padding-inline: 150px;
}

#rodaPe{
    display: flex;
    margin-top: 100px;
    background-color: #191a1b;
    justify-content: center
}

/* Até aqui foi edição da parte da HOME*/

/*Começando a editar os HOBBIES*/

#hobbies{
    text-align: justify;
    padding-inline: 150px;
}

#hobbie{
    margin-top: 90px;
}
#recomendacoes{
    margin-top:80px;
}

/*Acabou os HOBBIES*/

/*Começando o PESSOAL*/

@media (max-width: 600px){    
    .col-12 {    /*essa col-12 pega a foto dos destaques*/
        width: 90%;
        
    }
    .navbar-nav .nav-link {
        padding-right: 30px;
    }
    .card{
        margin-left: -1rem;
        margin-bottom: 2rem;/*Regula os lados das fotos*/
    }
    h1 {
        padding-top: 0; 
        font-size: 2.5rem;
    }
    #fotoLucas{
        display: none; /*Isso fazz tirar as fotos*/
    }
}